In [6]:
# ローカルのcsvファイルの読み込み。
import pandas as pd

dataset3 = pd.read_csv("dfse.csv", encoding="utf-8") #便利なオプション① header=Noneで1行目をデータとして扱う。便利なオプション② engine="python"でセパレータ（csvなら,）を自動解釈する。
# dataset3 = pd.read_csv("http://pythondatascience.plavox.info/wp-content/uploads/2016/05/sample_dataset.csv") #ネットワーク上のcsvファイル読み込みはこちら。
dataset3

,あああ,あああ.1,file3,あああ.2,あああ.3,あああ.4,あああ.5,111,あああ.6,あああ.7,あああ.8,あああ.9,あああ.10,あああ.11,あああ.12,あああ.13,あああ.14,あああ.15
0,いいいい,いいいい,file3,いいいい,いいいい,いいいい,いいいい,222,いいいい,いいいい,いいいい,いいいい,いいいい,いいいい,いいいい,いいいい,いいいい,いいいい
1,ううう,ううう,file3,ううう,ううう,ううう,ううう,333,ううう,ううう,ううう,ううう,ううう,ううう,ううう,ううう,ううう,ううう

In [22]:
# エクセルファイルの保存
# .to_excel()メソッド
# 参考URL[https://www.datacamp.com/community/tutorials/python-excel-tutorial]

import pandas as pd

dataset3 = pd.read_csv("dfse.csv", encoding="utf-8")
dataset3.to_excel("./test.xlsx", index=False, encoding="UTF-8-sig")#UTF-8-sigとすることで、BOM付きにできる。他の文字コード例：'UTF-8', 'SHIFT-JIS', 'CP932'
# dataset3.to_csv("./test.csv", index=False, encoding="UTF-8-sig")#csv保存はこちら。

### なお、複数のDataFrameを複数のワークシートに保存したい際は、XlsxWriterをインストールしている必要がある。
        
    # Install `XlsxWriter` 
    pip install XlsxWriter

    # Specify a writer
    writer = pd.ExcelWriter('example.xlsx', engine='xlsxwriter')

    # Write your DataFrame to a file     
    yourData.to_excel(writer, 'Sheet1')

    # Save the result 
    writer.save()

In [124]:
# データフレームを作成する。
# 書き方1: pd.DataFrame([[行1],[行2],[行3]], columns=[1,2,3])
# 書き方2: pd.DataFrame({'key1':[value1-1,value1-2,value1-n], 'key2':[value2-1,value2-2,value2-n]})
import pandas as pd
import numpy as np

df = pd.DataFrame([[1, 1, 33], 
                  [2,2,66], 
                  [3,3,100],
                  [4, np.nan, '終わり']],
                  columns = ['閲覧数', '抽出数', '再現率'])

df

   閲覧数  抽出数  再現率
0    1  1.0   33
1    2  2.0   66
2    3  3.0  100
3    4  NaN  終わり

In [86]:
# データフレームのカラムを変更する。
# df.columns = [新ヘッダ名1, 新ヘッダ名n]
cc = pd.DataFrame({'A': [1.0, 1.2, 3.4, 4.1, 8.2],
                   'B': [0.8, 1.4, 3.2, 4.3, 7.9],
                   'C': [1.3, 1.4, 2.9, 3.8, 9.4]})
cc.columns = ['閲覧数', '再現率','理想'] #もともとのccのヘッダ：A, B, C。 → 新しいヘッダ['閲覧数', '再現率','理想']
cc

   閲覧数  再現率   理想
0  1.0  0.8  1.3
1  1.2  1.4  1.4
2  3.4  3.2  2.9
3  4.1  4.3  3.8
4  8.2  7.9  9.4

In [61]:
# pandasでソート
# .sort_values()

df.sort_values(by=["閲覧数"], ascending=True)

   閲覧数  抽出数  再現率
0    1  1.0   33
1    2  2.0   66
2    3  3.0  100
3    4  NaN  終わり

In [71]:
# 変数の結合1
# .concat([変数1, 変数2], axis=0or1)
#他の例： pd.merge(変数1, 変数2, on='ID') #データの中身を何かのキーの値（docIDなど）で紐付けて繋げる。concate()は、データの中身をある方向にそのまま繋げる。

from IPython.display import display

df2 = pd.DataFrame([[5,4,100],
                  [6,5,100],
                  [7,np.nan,100]],
                  columns = ['閲覧数', '抽出数', '再現率'])

display(df)
display(df2)

df3 = pd.concat([df, df2], axis=0) # concat()のaxis引数は0なら行で、1なら列で引数を結合する。
display(df3)

   閲覧数  抽出数  再現率
0    1  1.0   33
1    2  2.0   66
2    3  3.0  100
3    4  NaN  終わり

   閲覧数  抽出数  再現率
0    5  4.0  100
1    6  5.0  100
2    7  NaN  100

   閲覧数  抽出数  再現率
0    1  1.0   33
1    2  2.0   66
2    3  3.0  100
3    4  NaN  終わり
0    5  4.0  100
1    6  5.0  100
2    7  NaN  100

In [66]:
# 変数の結合2
#pd.merge(変数1, 変数2, on='ID') #データの中身を何かのキーの値（docIDなど）で紐付けて繋げる。concate()は、データの中身をある方向にそのまま繋げる。
df2 = pd.DataFrame([[4,4,100],
                  [6,5,100],
                  [7,6,100]],
                  columns = ['閲覧数', '抽出数', '再現率'])

display(df)
display(df2)

df3 = pd.merge(df, df2, on='閲覧数') # merge()で結合する際、キーが一致しないデータは除外対象となる。
display(df3)

   閲覧数  抽出数  再現率
0    1  1.0   33
1    2  2.0   66
2    3  3.0  100
3    4  NaN  終わり

   閲覧数  抽出数  再現率
0    4    4  100
1    6    5  100
2    7    6  100

   閲覧数  抽出数_x 再現率_x  抽出数_y  再現率_y
0    4    NaN   終わり      4    100

In [188]:
# データフレーム中に見つけたいデータが存在するかどうかチェックする。
# df.isin(リストor辞書) 
#データフレーム中に、引数のリストまたは辞書（なお、辞書のキーは、オブジェクトのヘッダとマッチしなければならない）の値が含まれている場合Trueを、含まれていない場合Falseを返す。

ck = pd.DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'f']})
ck.isin([1, 3, 12, 'a'])

       A      B
0   True   True
1  False  False
2   True  False

In [99]:
# データフレームの特定カラムデータを抽出する。
# df[カラム名]
# また、df[カラム名].valuesでndarrayに格納する。　あるいは、df[カラム名].values[インデックス]を入力することで、そのインデックスの値のみ格納できる。

print(df3['抽出数'])
df3['抽出数'].values

0    1.0
1    2.0
2    3.0
3    NaN
0    4.0
1    5.0
2    NaN
Name: 抽出数, dtype: float64

array([  1.,   2.,   3.,  nan,   4.,   5.,  nan])

In [185]:
# 特定の行列を指定する。
# df.iloc[行, 列]　[http://ailaby.com/lox_iloc_ix/]
# ilocは行列を番号で指定してデータを操作できる。なお、end番号はn-1となることに注意。

display(df3)
print('\n')
print('全行の1列目を取得する。\n', df3.iloc[:, 0])
print('\n')
print('1行目の全列を取得する。\n', df3.iloc[0, :])
print('\n')
print('1~3行目の全列を取得する。\n', df3.iloc[0:4, :])

   閲覧数  抽出数  再現率
0    1  1.0   33
1    2  2.0   66
2    3  3.0  100
3    4  NaN  終わり
0    5  4.0  100
1    6  5.0  100
2    7  NaN  100

全行の1列目を取得する。
 0    1
1    2
2    3
3    4
0    5
1    6
2    7
Name: 閲覧数, dtype: int64


1行目の全列を取得する。
 閲覧数     1
抽出数     1
再現率    33
Name: 0, dtype: object


1~3行目の全列を取得する。
    閲覧数  抽出数  再現率
0    1  1.0   33
1    2  2.0   66
2    3  3.0  100
3    4  NaN  終わり

In [115]:
# 特定のデータを持つカラムのインデックスを表示する。
# np.where(検索対象のdf)
# isnull().valuesでNaNに関する真偽値のndarrayを返す。[https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.values.html]。 
# また、where(引数)でTrueとなるインデックスをndarrayに格納する。

np.where(df3['抽出数'].isnull().values) #抽出数カラムでNaNの値を持つインデックスを表示する。

(array([3, 6], dtype=int64),)

In [123]:
# 欲しいデータのインデックスをリスト化する
# df.index
# df[カラム名] == 1で、1のデータを持つかどうか真偽値のndarrayを返す。
df = pd.DataFrame([[1, 1, 33], 
                  [0,2,66], 
                  [1,3,100],
                  [1, np.nan, '終わり']],
                  columns = ['閲覧数', '抽出数', '再現率'])
list(df[df['閲覧数'] == 1].index)

[0, 2, 3]

In [159]:
# NaNを消す。
# df.dropna(axis=0or1, how='all')
#axis引数が0なら行単位（1なら列単位）でNaNを探して、該当行（該当列）を消す。また、how引数を'any'にすると、NaNがある行を削除する。
nan = pd.DataFrame([[np.nan, 2, np.nan, 0], 
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan]],
                   columns=list('ABCD'))
display(nan)
nan.dropna(axis=0, how='all')

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0

### NaN関連の便利な関数
- df['カラム名'].isnull() #NaNの値をTrue, それ以外の値をFalseとして返す。
- np.notnull() #NaNの値以外をTrue, NaNの値をFalseとして扱う。
- fillna(value)　#fillnaはN/Aの値をvalueに置き換える関数。[https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html]

### modules
- sys [https://docs.python.jp/3/library/sys.html]
 - .path.append('../my_modules') #モジュールを検索するパスを示す文字列のリスト
- subprocess
- codecs 
- Ipython.display
 - Javascript
 - HTML
 - display
- automation
- ipywidgets
 - interact
 - interactive
 - fixed
 - widgets
- matplotlib.pyplot as plt
- DataViewer
- ReultModule_New
  
### functions
- shutil.rmtree(path) #ディレクトリツリー全体を削除する。
- copy.deepcopy()#ただの.copy()が参照先をコピーするのに対して、deepcopy()はコンテンツもコピーする。
- json.load(f) #csvモジュールのreader()のjson版。これで、pythonのオブジェクトとしてjsonデータを扱えるようになる。
- display() #引数に変数を指定することで、そのデータフレームを表示できる。from IPython.display import displayの必要性あり。


- .iloc[:,0].apply(lambda x: pd.Series(x.split('\t'))) #ilocは行列を番号で指定してデータを操作できる。ここでは、全行の1列目を対象に、.apply関数でlambda関数を実行する。lambda関数は、ここではタブ区切りのリストをデータフレームに格納すると書いてある。
- reset_index()　#reset_indexはデータフレームのインデックスを振り直す関数。drop引数がTrueなら、古いインデックスをカラムに追加しないように指定できる。
- np.mean(vals)#平均を返す。
- np.std(vals, ddof=1)#標準偏差を返す。
- np.min(vals)#最小値を返す。
- np.max(vals)#最大値を返す。
- map(int, inputs[2:5])　#map(関数名, 関数に渡す引数)。一括で関数処理したい時に使える。左の例だと、inputs[2:5]の3つの引数に対して、int()を実行する。

- matplotlib関連
 - prp() #凡例のフォント
 - FontProperties(fname=FONT_PATH) #凡例以外のフォント
 - plt.figure()
 - plt.subplots()
 - fig.canvas.draw()
 - plt.rcParams["axes.spines.left"] = True
 - plt.rcParams["axes.spines.bottom"] = True
 - plt.rcParams["axes.spines.top"] = True
 - plt.rcParams["axes.spines.right"] = True
 - plt.rcParams["polaraxes.grid"] = True
 - plt.rcParams["axes.formatter.useoffset"] = True
 - plt.rcParams["axes.labelcolor"] = "black"
 - plt.rcParams["xtick.color"] = "black"
 - plt.rcParams["ytick.color"] = "black"
 - plt.rcParams["text.color"] = "black"
- @interact() #インタラクティブなUIを生成する。 
- (_df["HOT"] + 0)左のように書くと、どういう処理になるのだろう。
- no_text_num = len(np.where(input_data['text'].isnull().values)[0]) #isnull().valuesでndarrayを返す。[https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.values.html]。 また、where(引数)でTrueとなるインデックスをndarrayに格納する。その数をlenで数え、格納する。
 
### 略語
- NaN：Not a Number。浮動小数点演算の結果として、不正なオペランドを与えられた際に生じる不定の値。
- inf：無限