In [6]:
# ローカルのcsvファイルの読み込み。
import pandas as pd

dataset3 = pd.read_csv("dfse.csv", encoding="utf-8") #便利なオプション① header=Noneで1行目をデータとして扱う。便利なオプション② engine="python"でセパレータ（csvなら,）を自動解釈する。
# dataset3 = pd.read_csv("http://pythondatascience.plavox.info/wp-content/uploads/2016/05/sample_dataset.csv") #ネットワーク上のcsvファイル読み込みはこちら。
dataset3

,あああ,あああ.1,file3,あああ.2,あああ.3,あああ.4,あああ.5,111,あああ.6,あああ.7,あああ.8,あああ.9,あああ.10,あああ.11,あああ.12,あああ.13,あああ.14,あああ.15
0,いいいい,いいいい,file3,いいいい,いいいい,いいいい,いいいい,222,いいいい,いいいい,いいいい,いいいい,いいいい,いいいい,いいいい,いいいい,いいいい,いいいい
1,ううう,ううう,file3,ううう,ううう,ううう,ううう,333,ううう,ううう,ううう,ううう,ううう,ううう,ううう,ううう,ううう,ううう

In [22]:
# エクセルファイルの保存
# .to_excel()メソッド
# 参考URL[https://www.datacamp.com/community/tutorials/python-excel-tutorial]

import pandas as pd

dataset3 = pd.read_csv("dfse.csv", encoding="utf-8")
dataset3.to_excel("./test.xlsx", index=False, encoding="UTF-8-sig")#UTF-8-sigとすることで、BOM付きにできる。他の文字コード例：'UTF-8', 'SHIFT-JIS', 'CP932'
# dataset3.to_csv("./test.csv", index=False, encoding="UTF-8-sig")#csv保存はこちら。

### なお、複数のDataFrameを複数のワークシートに保存したい際は、XlsxWriterをインストールしている必要がある。
        
    # Install `XlsxWriter` 
    pip install XlsxWriter

    # Specify a writer
    writer = pd.ExcelWriter('example.xlsx', engine='xlsxwriter')

    # Write your DataFrame to a file     
    yourData.to_excel(writer, 'Sheet1')

    # Save the result 
    writer.save()

In [ ]:
# 変数の結合
# .concat(変数1, 変数2, axis=0or1)
#他の例： pd.merge() #データの中身を何かのキーの値（docIDなど）で紐付けて繋げる。concate()は、データの中身をある方向にそのまま繋げる。

new_df = pd.concat([review_rate, recall], axis=1) # concat()のaxis引数は0なら行で、1なら列で引数を結合する。

In [ ]:
# pandasでソート
# .sort_values()

df.sort_values(by=["スコア"], ascending=True)

In [2]:
# データフレームを作成する。
import pandas as pd
import numpy as np

df = pd.DataFrame([['test1', 'test2', 3], 
                 ['?',np.nan,'すごい'], 
                 [np.nan,3.14,np.nan],
                  ['hoge', 1, np.nan]],
                 columns = ['Yes', 'We can', '閲覧率'])

df

     Yes We can  閲覧率
0  test1  test2    3
1      ?    NaN  すごい
2    NaN   3.14  NaN
3   hoge      1  NaN

In [8]:
np.where(df['Yes'].isnull().values)

(array([2], dtype=int64),)

In [53]:
df = pd.DataFrame([[1, 0, 1], 
                 [1,0,0], 
                 [0,1,1],
                  [1, 1, 0],
                  [0,0,0]],
                 columns = ['Hot', 'Not', 'test'])

df

   Hot  Not  test
0    1    0     1
1    1    0     0
2    0    1     1
3    1    1     0
4    0    0     0

In [54]:
all_0_indexes = []
for i in range(len(df)):
    hot_val = df['Hot'].values[i]
    not_val = df['Not'].values[i]
    test_val = df['test'].values[i]
    if sum([hot_val, not_val] + test_val) == 0:
        all_0_indexes.append(i)
    if len(all_0_indexes) > 0:
        df = df.drop(all_0_indexes)
        print('[WARN] ALL FLAG 0 DATA DELETED: %s' % len(all_0_indexes))

[WARN] ALL FLAG 0 DATA DELETED: 1

In [66]:
list(df[df['Hot'] == 0].index)

[2]

In [56]:
train_indexes = []
for i, test_column in enumerate(test_val):
            if i == 0:
                train_indexes = list(
                    input_data[input_data[test_column] == 0].index)
            else:
                train_indexes = list(
                    set(train_indexes) &
                    set(input_data[input_data[test_column] == 0].index))

TypeError: 'numpy.int64' object is not iterable

In [4]:
# データフレームのカラムを変更する。
df = pd.DataFrame({'A': [1.0, 1.2, 3.4, 4.1, 8.2],
                   'B': [0.8, 1.4, 3.2, 4.3, 7.9],
                   'C': [1.3, 1.4, 2.9, 3.8, 9.4]})
df.columns = ['閲覧数', '再現率','理想']
df

   閲覧数  再現率   理想
0  1.0  0.8  1.3
1  1.2  1.4  1.4
2  3.4  3.2  2.9
3  4.1  4.3  3.8
4  8.2  7.9  9.4

In [3]:
# NaNを消す。
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1],
                    [np.nan, np.nan, np.nan, np.nan]],
                   columns=list('ABCD'))
df

df.dropna(axis=0, how='all') #axis引数が0なら行単位（1なら列単位）でNaNを探して、該当行（該当列）を消す。また、how引数を'any'にすると、NaNがある行を削除する。

- fillna()　#fillnaはN/Aの値を0に置き換える関数。[https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html]
- df['カラム名'].isnull() #NaNの値をTrue, それ以外の値をFalseとして返す。
- no_text_num = len(np.where(input_data['text'].isnull().values)[0]) #isnull().valuesでndarrayを返す。[https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.values.html]。また、where(引数)でTrueとなるインデックスをndarrayに格納する。その数をlenで数え、格納する。ぶっちゃけ、np.where入らない気もするが。。。
- np.notnull() #NaNの値以外をTrue, NaNの値をFalseとして扱う。

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0

### modules
- sys [https://docs.python.jp/3/library/sys.html]
 - .path.append('../my_modules') #モジュールを検索するパスを示す文字列のリスト
- subprocess
- codecs 
- Ipython.display
 - Javascript
 - HTML
 - display
- automation
- ipywidgets
 - interact
 - interactive
 - fixed
 - widgets
- matplotlib.pyplot as plt
- DataViewer
- ReultModule_New
  
### functions
- json.load(f) #csvモジュールのreader()のjson版。これで、pythonのオブジェクトとしてjsonデータを扱えるようになる。
- map(int, inputs[2:5])　#map(関数名, 関数に渡す引数)。一括で関数処理したい時に使える。左の例だと、inputs[2:5]の3つの引数に対して、int()を実行する。
- reset_index()　#reset_indexはデータフレームのインデックスを振り直す関数。drop引数がTrueなら、古いインデックスをカラムに追加しないように指定できる。
- display() #引数に変数を指定することで、そのデータフレームを表示できる。from IPython.display import displayの必要性あり。
- .iloc[:,0].apply(lambda x: pd.Series(x.split('\t'))) #ilocは行列を番号で指定してデータを操作できる。ここでは、全行の1列目を対象に、.apply関数でlambda関数を実行する。lambda関数は、ここではタブ区切りのリストをデータフレームに格納すると書いてある。
- データフレーム.isin(リストor辞書) #オブジェクトに、引数のリストまたは辞書（なお、辞書のキーは、オブジェクトのヘッダとマッチしなければならない）の値が含まれている場合Trueを、含まれていない場合Falseを返す。
         >>> df = DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'f']})
         >>> df.isin([1, 3, 12, 'a'])
                    A      B
               0   True   True
               1  False  False
               2   True  False
- shutil.rmtree(path) #ディレクトリツリー全体を削除する。
- copy.deepcopy()#ただの.copy()が参照先をコピーするのに対して、deepcopy()はコンテンツもコピーする。
- np.mean(vals)#平均を返す。
- np.std(vals, ddof=1)#標準偏差を返す。
- np.min(vals)#最小値を返す。
- np.max(vals)#最大値を返す。
- @interact() #インタラクティブなUIを生成する。 
- matplotlib関連
 - prp() #凡例のフォント
 - FontProperties(fname=FONT_PATH) #凡例以外のフォント
 - plt.figure()
 - plt.subplots()
 - fig.canvas.draw()
 - plt.rcParams["axes.spines.left"] = True
 - plt.rcParams["axes.spines.bottom"] = True
 - plt.rcParams["axes.spines.top"] = True
 - plt.rcParams["axes.spines.right"] = True
 - plt.rcParams["polaraxes.grid"] = True
 - plt.rcParams["axes.formatter.useoffset"] = True
 - plt.rcParams["axes.labelcolor"] = "black"
 - plt.rcParams["xtick.color"] = "black"
 - plt.rcParams["ytick.color"] = "black"
 - plt.rcParams["text.color"] = "black"
- (_df["HOT"] + 0)左のように書くと、どういう処理になるのだろう。
- _df.to_csv(result_file, encoding="utf-8-sig", index=False) #utf-8-sigとすることで、文字化けしない？
 
### 略語
- NaN：Not a Number。浮動小数点演算の結果として、不正なオペランドを与えられた際に生じる不定の値。
- inf：無限